
.table-view {
  width: 200px;
  height: 200px;
  padding: 10px;
  text-align: center;

  .wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    .result {
      display: table;
      width: 50px;
      height: 50px;
      border: 1px solid black;
      span{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .info {
    margin-top: 20px;
    text-align: left;
  }

  .attack-btn-container{
    margin-top: 20px;
  }
}