.player {
  width: 300px;
  height: 200px;
  padding: 10px;

  .health {
    width: 100%;
    height: 20px;
    border: 1px solid black;

    &__current {
      background-color: green;
      height: inherit;

    }

  }


  .img-container{
    width: 100%;
    position: relative;
    height: 50px;
    margin-top: 20px;
    img{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.player.reverse {
  direction: rtl;
}